// var myButton=document.getElementById("button");
// var myText="Hello world x";
// var myNumber=2;

// myButton.addEventListener("click",function() {
//   this.classList.toggle("blue-background");
// });
//
// const cars = ["Saab", "Volvo", "BMW"];geArrayList.add(image);//Add that image to the arraylist
// const cars = ["Saab", "Volvo", "BMW"];
//
// document.getElementById("demo").innerHTML = cars;

.carsOne {
  width:300px;
  height:auto;
  #imgRow{
    max-width: 900px;
    img {
      display: block;
      max-width:200px;
      max-height:95px;
      height: auto;
      padding-left: 50px;
    }
  }
}
  #carsTwo {
    width:300px;
    height:auto;
      img {
        display: block;
        max-width:200px;
        max-height:95px;
        height: auto;
      }
    }
